@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{                  /*universal selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: none;
    font-family: 'Poppins', sans-serif;
}
:root {                                       /*same as html selector but with higher specificity*/              
    --bg-color: #1f242d ;                   /* global css variables*/
    --second-bg-color: #323946 ;
    --text-color: #fff ;
    --main-color: #0ef ;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;      /*sets what shows when content overflows a block-level element's left or right edges.*/
    height: 100%;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);    /*using global variables*/
    color: var(--text-color);
    position: relative;
    min-height: 120%;
    /* margin: 0; */
    padding-bottom: 6rem;
    box-sizing: inherit;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}



.header {           /*using class selector header*/
    position: fixed;            /*how element is positioned*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;                     /*element behaves like a block-level element*/
    justify-content: space-between;    /*how the browser distributes space between and around content items*/
    align-items: center;                        
    z-index: 100;                      /*sets overlapping order of el*/
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;                /*sets the mouse cursor when mouse pointer is over it*/
}

.navbar a {                          /*descendent selector - all anchor tags within navbar will be styled*/
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,                     /*pseudo classes- select special state of class, ex- when it is hovered over then it will be styled*/
.navbar a.active {                   /*select class active in the anchor tags of class navbar*/    
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

span {
    color: var(--main-color);
}

.project {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 14rem;
}

.project h2{
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    align-items: center;
    gap: 2rem;
}

.project-box{
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    position: relative;
    overflow: hidden;
    display: flex;
    height: 25rem;
}

.project-box img{
    width: 100%;
    /* transition: .5s ease; */
}

/* .project-box:hover img{
    transform: scale(1.1);
} */

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    /* transform: translateY(100%); */
    transition: .5s ease;
}

.project-box:hover .project-layer{
    transform: scaleY(1.1);
}

.project-layer h4{
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.social-media a{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;                        /*when transitioning between different states*/
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0  1rem var(--main-color);        /*visual effect box shadow*/
}

footer {
    padding: 20px;
    background-color: var(--second-bg-color);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
}

.footer-text{
    font-size: 1.6rem;
}